<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <ul>
    {{#each productCategories}}
      <li>{{productName}}: ({{categoryName}})</li>
    {{/each}}
    </ul>
  </body>
</html>
